

.header{
    padding:15px  ;
      display:flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 200px;
      box-shadow: 0 0 8px black;
  }
  .image{
    max-height: 106px;
    max-width:106px;
    border-radius:100px;
    padding:auto;
    margin: 25px 0px 0px 50px;  
    cursor: pointer;
  }
  .image:hover{
    box-shadow:0 0 5px black ;
  }
  
  
      .sidebar {
    float:left;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #008BFD;
    position: fixed;
    height: 100%;
    /* overflow: auto; */
  }
  
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  #logout{
      color: red;
  }
  #logout:hover{
      background-color:rgba(255, 0, 0, 0.329);
      color : black;
  }
  
  /* Active/current link */
  .sidebar a{
    background-color: #008BFD;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover{
    background-color: rgba(255, 255, 255, 0.17);
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  
  
 
   .dashboard-cards {
    
      margin-top:50px;
      display: flex;
      justify-content: space-between ;
      margin-bottom: 20px;
  }
   
  .card {
    text-decoration-color: white;
      color: white;
    border:0;
      flex: 1;
      width: 140px;
      padding: 1px 10px ;
      margin: 0 5px;
      text-align: left;
      
      font-size: 25px;
      font-weight: bold;
  }
  .card.yellow {
    background-color: #008bfd50;
    border-radius: 5px;
  }  

  .fa-solid.fa-person{
    text-align: right;
    padding-bottom: 5px;
    font-size: 40px;
  }
  
  .card.green {
    background-color: #008bfd50;
   border-radius: 5px;
  }

  .fa-regular.fa-address-card{
    text-align: right;
    padding-bottom: 5px;
    font-size: 40px;
  }
  
  .card.blue {
    background-color: #008bfd50;
    border-radius: 5px;
  }

  .fa-solid.fa-house-user{
    text-align: right;
    padding-bottom: 5px;
    font-size: 40px;
  }
  
  .card.red {
    background-color: #008bfd50;
  border-radius: 5px;
  }

  .fa-regular.fa-credit-card{
    text-align: right;
    padding-bottom: 5px;
    font-size: 40px;
  }

  .card:hover{

    
    background-color:#73bbf5;
  box-shadow: 0 0 8px #000000;
  backdrop-filter: blur(3px);
  } 



  .history-section {
    margin-top: 60px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.history-section h2 {
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.btn {
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn.delete {
    background-color: #ff1e1e;
}
.btn.delete:hover{
    background-color: #ff1e1e;
}

.btn.edit {
    background-color: #008BFD;
    width: 70px;
}
.btn.edit:hover{
    background-color: #008BFD;
}


